.navbar {
  background-color: #131921;
}

.button-nav {
  background-color: #febd69 !important;
}
/* .nav-link {
  color: #fefefe !important;
} */

/* .navbar-toggler-icon {
  color: #fefefe !important;
} */
