.cards {
  background-color: red;

  /* display: flex;
  flex-direction: column; */
  /* min-width: 20vw;
  max-width: 21vw; */
  /* min-height: 80vh;
  max-height: fit-content; */
}

@media screen and (max-width: 1200px) {
  .cards {
    background-color: rgb(56, 52, 55);
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  .cards {
    background-color: rgb(128, 0, 79);
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 762px) {
  .cards {
    background-color: green;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    background-color: aqua;
    display: flex;
    flex-direction: column;
  }
}
